.post-type-archive-adventures {
    #primary {
        @include archive-primary;
    }
    .adventure-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .post {
        flex-basis: 49%;
        height: 550px;
        position: relative;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    .img-wrapper {
        img {
            height: 550px;
            width: auto;
            max-width: none;
            position: absolute;
            transform: translate(-50%, 0%);
            left: 50%;
        }
        &::after {
            background: rgba(0, 0, 0, .35);
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 0;
        }
    }
    .adventure-text {
        position: absolute;
        color: #fff;
        margin: 4.5rem 1rem;
        z-index: 1;
    }
    .entry-title {
        font-size: 3rem;
        font-family: $font-merriweather;
        font-weight: 300;
        text-transform: none;
    }
    .read-more {
        position: absolute;
        left: .75rem;
        border: 1px solid #fff;
        color: #fff;
        padding: .25rem 1.5rem;
        bottom: -25px;
    }
}