#colophon {
    background: url(../../images/dark-wood.png);
    .footer-text-container {
        margin: 2.5rem 0;
        line-height: 1.5;
        flex-basis: 25%;
    }
    h3 {
        color: #d99054;
        font-size: 1.2rem;
        margin-bottom: .75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $font-novecento;
    }
    .contact-text {
        color: #fff;
        div {
            margin-bottom: 1.5rem;
        }
        .fa {
            font-size: 1.2rem;
            width: 25px;
        }
        a {
            color: #fff;
        }
    }
    .site-info {
        font-family: $font-novecento, sans-serif;
        padding: 1.5rem 0;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    .bold {
        font-weight: bold;
    }
    .footer-logo {
        margin-top: 4rem;
        flex-basis: 50%;
        text-align: right;
        img {
            width: 50%;
        }
    }
}