.home{
	.home-hero{
		background: 
		url(../../images/logos/inhabitent-logo-full.svg) no-repeat center center, linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url(../../images/home-hero.jpg) no-repeat center bottom;
		background-size: auto, cover, cover;
		height: 100vh;
	}
	.site-content{
		padding-top: 0;
	}
	.products-container{
		width: 1120px;
		margin: 0 auto 3rem;
		.product-categories{
			display: flex;
			justify-content: space-between;
			text-align: center;
			.prod-category-wrapper{
				flex-basis: 23%;
				border: 1px solid black;
				margin: 0 2rem;
				img{
					width: 75px;
				}
			}
		}
	}
}


	.journal-container{
		width: 1120px;
		margin: 0 auto;
	.journal{
		display: flex;
		justify-content: space-between;
		margin-bottom: 3rem;
		.journal-post{
			flex-basis: 32%;
			border: 1px solid black;
		}
		.journal-img{
			height: 250px;
		}
		img{
			height: 100%;
		}
	}
}