.home{
	.home-hero{
		background: 
		url(../../images/logos/inhabitent-logo-full.svg) no-repeat center center, linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url(../../images/home-hero.jpg) no-repeat center bottom;
		background-size: auto, cover, cover;
		height: 100vh;
	}
	.site-content{
		padding-top: 0;
	}
	.product-categories{
		display: flex;
	}
	.journal-container{
		display: flex;
	}
}