#masthead{
    padding: 0.5rem 0;
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    position: absolute;
    width: 100%;
}
#primary-menu{
    text-transform: uppercase;
    a{
        color: #248a83;
        font-family: "NovecentoSans"
    }
    li{
        padding-left: 1.5rem;
    }
}
.logo{
    width: 50px;
}
.search-nav{
    line-height: 1.4;
    padding-left: 1.5rem;
    fieldset{
        border: none;
        padding: 0;
    }
    .search-button{
        display: inline;
    }
    .search-field{
        border: none;
        padding: 0;
        display: none;
    }
    .search-button{
        color: #248a83;
    }
}