.blog{
    .blog-wrapper{
        display: flex;
    }
    .entry-header{
        position: relative;
        line-height: 0;
        color: #fff;
    }
    .entry-title{
        position: absolute;
        left: 0;
        top: 0;
        background-color: #248a83;
        padding: 1rem 1.5rem;
        width: 74%;
        margin-top: 2.25rem;
        a{
            color: #fff;
        }
    }
    .entry-meta{
        position: absolute;
        background-color: #248a83;
        padding: 1rem;
        bottom: 0;
        right: 0;
    }
}