.blog,
.date,
.tag,
.category {
    .blog-wrapper {
        display: flex;
    }
    .hentry {
        margin-bottom: 4.5rem;
    }
    .entry-header {
        position: relative;
        line-height: 0;
        color: #fff;
    }
    .entry-title {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $color-clicks;
        padding: 1rem 1.5rem;
        width: 74%;
        margin-top: 2.25rem;
        a {
            color: #fff;
        }
    }
    .entry-meta {
        position: absolute;
        background-color: $color-clicks;
        padding: 1rem;
        bottom: 0;
        right: 0;
    }
    .read-more {
        padding: .75rem 1.5rem;
        border: 1px solid black;
        color: black;
        font-size: 0.9rem;
        font-family: $font-novecento, sans-serif;
        text-transform: uppercase;
    }
    .read-more:hover {
        background-color: $color-clicks;
        border: 1px solid $color-clicks;
        color: #fff;
    }
}