.blog .site-content{
    padding-top: 55px;
}
.blog-wrapper{
    display: flex;
}
#primary{
    width: 71%;
    padding: 3rem 3.5rem 0 0;
    border-right: 1px solid grey;
}
#secondary{
    width: 29%;
    padding: 3rem 0 0 3.5rem;
}
.entry-header{
    position: relative;
    line-height: 0;
    color: #fff;
}
.entry-title{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #248a83;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    width: 74%;
        a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
        }
}
.entry-meta{
    position: absolute;
    background-color: #248a83;
    padding: 1rem;
    bottom: 0;
    right: 0;
}